<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"backgroundColor":"body-bg","layout":{"type":"constrained","contentSize":"700px"}} -->
<main class="wp-block-group alignfull has-body-bg-background-color has-background" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">

	<!-- wp:heading {"textAlign":"center","level":1,"textColor":"heading"} -->
	<h1 class="wp-block-heading has-text-align-center has-heading-color has-text-color">Page Not Found</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph {"align":"center","textColor":"body-text"} -->
	<p class="has-text-align-center has-body-text-color has-text-color">The page you're looking for doesn't exist. Let's get you back home.</p>
	<!-- /wp:paragraph -->

	<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons">
		<!-- wp:button {"backgroundColor":"primary","textColor":"accent-black"} -->
		<div class="wp-block-button">
			<a class="wp-block-button__link has-accent-black-color has-primary-background-color has-text-color has-background wp-element-button" href="/">Back to Home</a>
		</div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
